/*#region common*/
:root{
    --body: #F6F8F9;
    --add_task: #14AAF5;
    --add_section: #C4CBD0;
    --task_title: #434851;
    --editorial: #14AAF5;
    --goals: #ab5de6;
    --recruiting: #2CC6AB;
    --mobile: #FF9B00;
    --website: #EC4A9D;
    --sales: #A3D116;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body);
}
h3{
    margin-top: 2rem;
}
/*#endregion common*/

/*#region utility*/
.container{
    width: 70%;
    margin: auto;
}
.card{
    background-color: white;
    margin-top: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px var(--add_section);
}
.card-header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid var(--tob-page-bg);
}
/*buttons*/
.btn {
    padding: .25rem 1rem;
    border-radius: 0.25rem;
    border-style: none;
    background-color: transparent;
}

.btn-primary {
    background-color: var(--add_task);
    border: 1px solid var(--add_task);
    color: var(white);
}

.btn-outline {
    border: 1px solid var(--add_section);
    color: var(--add_section);
}
/*#endregion utility*/

/*#region header*/

    #header{
        background-color: white;
        padding: 10px;
    }

    .logo>img, .logo>span{
        vertical-align: middle;
    }

    .logo>span{
        font-size: 2rem;
        font-weight: bolder;
    }
/*#endregion header*/

/*#region main*/
main{
    padding: 3rem;
}
/*#endregion main*/